{% extends "base.html" %}

{% block content %}

Список активных выборов:

<table border=1>
<tr>
<td>
<b>Выборы</b>
</td>
<td>
<b>Победитель</b>
</td>
<td>
<b>Голосов</b>
</td>
<td>
<b>Денег</b>
</td>
</tr>
{% for election in election_list %}
<tr>
<td>
<a href="/elections/{{ election.id }}/">{{ election }}</a>
</td>
<td>
{{ election.get_winner_name }}
</td>
<td>
{{ election.get_winner_votes }}
</td>
<td>
{{ election.get_winner_money }}
</td>
</tr>
{% endfor %}
</table>

{% endblock %}
